<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.noticeMapper">


<select id="noticeList" resultType="nd">
	select NOTICE_NO noticeNo, NOTICE_SUB noticeSub, NOTICE_CON noticeCon, NOTICE_DATE noticeDate,
	NOTICE_KIND noticeKind, NOTICE_FILE noticeFile, NOTICE_HITS noticeHits, EMPLOYEE_ID employeeId
	from notice
</select>

<select id="noticeDetail" parameterType="string" resultType="nd">
	select NOTICE_NO noticeNo, NOTICE_SUB noticeSub, NOTICE_CON noticeCon, NOTICE_DATE noticeDate,
	NOTICE_KIND noticeKind, NOTICE_FILE noticeFile, NOTICE_HITS noticeHits, EMPLOYEE_ID employeeId
	from notice
	where NOTICE_NO = #{noticeNo}
</select>

<sql id="noticeNo">
	select nvl(max(NOTICE_NO),0) + 1 from notice
</sql>
	
<insert id="noticeInsert" parameterType="nd">
	insert into notice	
	(NOTICE_NO, NOTICE_SUB, NOTICE_CON, NOTICE_DATE,
	NOTICE_KIND, NOTICE_FILE, NOTICE_HITS, EMPLOYEE_ID)
	values	
	((<include refid="noticeNo"/>),#{noticeSub},#{noticeCon},sysdate,
	#{noticeKind},
	<if test="noticeFile!=null">#{noticeFile}</if>
	<if test="noticeFile==null">null</if>
	,0,#{employeeId})
</insert>

<update id="noticeUpdate" parameterType="nd">
	update notice 
	set NOTICE_SUB =#{noticeSub},NOTICE_CON=#{noticeCon},NOTICE_KIND=#{noticeKind},
	EMPLOYEE_ID=#{employeeId},
	NOTICE_FILE =#{noticeFile}
 	where NOTICE_NO = #{noticeNo}
</update>


<update id="noticeReadCount" parameterType="string">
	update notice
	set NOTICE_HITS = NOTICE_HITS + 1
	where NOTICE_NO = #{noticeNo}
</update>

<delete id="noticeDelete" parameterType="string">
	delete from notice
	where NOTICE_NO = #{noticeNo}
</delete>
 
</mapper>