<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.goodsMapper">

<select id="goodsNum" resultType="string">
	select PROD_SEQ.nextval from dual
</select>
	
<insert id="goodsInsert" parameterType="gd">
	insert into products (PROD_NUM, PROD_NAME, PROD_PRICE, PROD_IMAGE, PROD_DETAIL,
	 PROD_CAPACITY, PROD_SUPPLIER, PROD_DEL_FEE, RECOMMEND, EMPLOYEE_ID, CTGR)
	values (#{prodNum},#{prodName},#{prodPrice},#{prodImage},#{prodDetail},
	#{prodCapacity},#{prodSupplier},#{prodDelFee},#{recommend},#{employeeId},#{ctgr})
</insert>

<select id="goodsList" resultType="gd">
	select 
	PROD_NUM prodNum, PROD_NAME prodName, PROD_PRICE prodPrice, PROD_IMAGE prodImage, PROD_DETAIL prodDetail,
	PROD_CAPACITY prodCapacity, PROD_SUPPLIER prodSupplier, PROD_DEL_FEE prodDelFee, RECOMMEND recommend, EMPLOYEE_ID employeeId, CTGR ctgr
	from products
</select>

</mapper>