<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 	  	 http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         ">
         
	<bean class="controller.member.MemberController"/>
	<bean id="memberrepository" class="repository.MemberRepository"/>
	
	<bean class="controller.member.MemberInfoController"/>	
	<bean id="memberJoinService" class="service.member.MemberJoinService"/>
	<bean id="memberListService" class="service.member.MemberListService"/>
	<bean id="memberUpdateService" class="service.member.MemberUpdateService"/>
	<bean id="memberDelService" class="service.member.MemberDelService"/>

	<bean class="controller.member.MemberMyPageController"/>
	<bean id="memberMyPageInfoService" class="service.member.MemberMyPageInfoService"/>
	<bean id="memberMyPageInfoModifyService" class="service.member.MemberMyPageInfoModifyService"/>
	
	
	
</beans>